@{
    ViewBag.Title = "Contactenos";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    Facatativá, Cundinamarca<br />
    Trans 15<br />
    <abbr title="Phone">Telefono:</abbr>
    322 4080792
</address>

<address>
    <strong>Support:</strong>   <a> gastrobytesoftware@gmail.com</a><br />
    <strong>Marketing:</strong> <a> jdcano2005@outlook.com</a>
</address>