@{
    ViewBag.Title = "Panel de Administración";
    string userRole = "Administrador/a";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

    
<br />
<br />
<h4>Bienvenido, @ViewBag.UserName</h4>
<h4> @userRole</h4>
