@{
    ViewBag.Title = "Panel de Asistente";
    string userRole = "Asistente";
    Layout = "~/Views/Shared/_Layout_asistente.cshtml";
}

    

<br />
<br />
<h4>Bienvenido, @ViewBag.UserName</h4>
<h4> @userRole</h4>

